.dropbtn 
{
    background-color: #3498DB;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  .dropbtn:hover, .dropbtn:focus 
  {
    background-color: #2980B9;
  }
  
  .dropdown
   {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content-up
   {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    width: 200px;
    overflow: auto;
    box-shadow: 3px 3px 3px rgb(177, 177, 177);
    border-color: #ddd;
    z-index: 1;
    top: -50px;
    right: 20px;
    border-radius: 10px;
  }
  
  .dropdown-content
   {
    display: none;
    position: absolute;
    padding: 35px 10px;
    background-color: #f1f1f1;
    min-width: 150px;
    max-height: 400px;
    max-width: 360px;
    overflow: auto;
    box-shadow: 3px 3px 3px rgb(177, 177, 177);
    border-color: #ddd;
    border-radius: 100px;
    z-index: 1;
    top: 60px;
  }

  .dropdown-content::-webkit-scrollbar
  {
    width: 8px;
  }

  .dropdown-content::-webkit-scrollbar-thumb
  {
    background: rgb(160, 160, 160); 
    border-radius: 15px;
    height: 80%;
  }
  
  .dropdown-content::-webkit-scrollbar-thumb:hover
  {
    background: rgb(134, 134, 134); 
  }


  .dropdown-content a,
  .dropdown-content-up a
   {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    transition: 0.1s ease-in;
  }

  .dropdown-content-up a.dropATag
   {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    transition: 0.1s ease-in;
  }

  .dropdown-content-up a.dropATag:hover
   {
    color: black;
    padding: 12px 16px;
    background-color: #dadada;
    text-decoration: none;
    display: block;
    transition: 0.1s ease-in;
  }
  
  .dropdown a:hover {background-color: #ddd;}
  

  .showDown {
    animation-name: showPopUp;
    animation-duration: 0.09s;
    display: flex;
    flex-wrap: wrap;
    border-radius: 10px;
  }
  
  .show {
    display: block;
    animation-name: showPopUp;
    animation-duration: 0.09s;
  }

  @keyframes showPopUp {
    0%   {opacity: 0;}
    25%  {opacity: 0.25;}
    50%  {opacity: 0.5;}
    100% {opacity: 1;}
  }

  @media screen and (max-width: 700px) {
    
    .dropdown-content-up
    {
      position: absolute;
      background-color: #cccccc;
      min-width: 160px;
      overflow: auto;
      box-shadow: 3px 3px 3px rgb(121, 121, 121);
      border-color: #ddd;
      z-index: 1;
      top: 10px;
      right: 20px;
      border-radius: 10px;
    }

  }